.main {
    @include pageFlex;

    width: 90%;
    margin: auto;

    &__title {
        margin: $blocks-paddings;
    }

    &__subtitle {
        color: $subtitle-color;
        margin-bottom: $blocks-paddings;
    }
}