.main {
    padding: $blocks-paddings;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        margin: $blocks-paddings;
    }

    &__subtitle{
        color: $subtitle-color;
        margin-bottom: $blocks-paddings;
    }
}