.main {
    @include pageFlex;

    padding: $blocks-paddings;

    &__title {
        margin: $blocks-paddings;
    }

    &__subtitle {
        color: $subtitle-color;
        margin-bottom: $blocks-paddings;
    }
}