@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.plans-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;

    width: 100%;
    margin-top: $blocks-paddings;
    padding-block: $blocks-paddings;

    @media (max-width: 1180px) {
        gap: 0;
    }

    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: auto;
    }
}

.plan {
    @include pageFlex;
    gap: $blocks-paddings;

    width: 30%;
    min-width: 240px;
    padding: 10px;

    background-color: $background-cards;
    border-radius: $border-radius;

    transition: $transition;
    animation: slideInFromLeft 0.5s ease forwards;

    &:hover {
        background-color: $background-ligth;
        box-shadow: 0px 0px 20px -3px $primary-color;
    }

    &__icon {
        position: relative;
        top: -20px;

        width: 60px;
        height: 60px;

        border: 2px solid $primary-color;
        border-radius: 50%;

        background-image: url('../pictures/icon.png');
        background-size: contain;
    }

    &__title {
        &::after {
            content: '';
            display: block;

            width: 100%;
            height: 2px;

            background-color: $primary-color;
        }
    }

    &__features {
        position: relative;

        &::after {
            @include textLine;
            left: -45px;
        }

        &::before {
            @include textLine;
            right: -45px;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        padding-bottom: 5px;

        &::after {
            content: '';
            display: block;

            width: 100%;
            height: 1px;

            background-color: $primary-color;
            transition: $transition;
            transform: scaleX(0);
        }

        &:hover {
            &::after {
                transform: scaleX(1);
            }
        }
    }

    &__button {
        font-size: 16px;

        height: 40px;
        width: 35%;
        margin-bottom: $blocks-paddings;

        border: 1px solid $primary-color;
        border-radius: 0 $border-radius;
        background-color: $primary-color;

        transition: $transition;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 20px -3px $primary-color;
            border-radius: $border-radius;
        }

        &:active {
            background-color: $background-ligth;
        }
    }

    &__price {
        &__amount {
            font-weight: bold;
            font-size: 32px;

            color: $primary-color;
        }
    }

    @media (max-width: 900px) {
        width: 50%;
    }
}