$title-text-size: 18px;
$blocks-paddings: 20px;

$subtitle-color: #808080;
$background-color: #424242;
$background-cards: #f2f6ff;
$background-ligth: #fff;
$primary-color: #4160ff;

$transition: all 0.3s ease;
$border-radius: 15px;